<p-toast></p-toast>
<div id="layoutDefault">
    <div id="layoutDefault_content">
        <main>
            <!-- Navbar-->
            <nav class="navbar navbar-marketing navbar-expand-lg bg-white navbar-light">
                <div class="container px-5">
                    <a  href="index.html"><img src="../../../assets/img/logo_catal.png" style="width: 15%;" alt=""></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i data-feather="menu"></i></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto me-lg-5">
                            <li class="nav-item"><a class="nav-link" href="index.html">Inicio</a></li>
                            <li class="nav-item"><a class="nav-link" href="index.html">¿Quiénes somos?</a></li>
                            <li class="nav-item dropdown dropdown-xl no-caret">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownPages" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Servicios
                                    <i class="fas fa-chevron-right dropdown-arrow"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end me-lg-n20 me-xl-n15 animated--fade-in-up" aria-labelledby="navbarDropdownPages">
                                    <div class="row g-0">
                                        <div class="col-lg-4 p-lg-5">
                                            <h6 class="dropdown-header text-primary">Nuestros Servicios</h6>
                                            <a class="dropdown-item" (click)="scrollToPortfolio('servicios')">Venta de propiedades</a>
                                            <a class="dropdown-item" (click)="scrollToPortfolio('servicios')">Arriendo de propiedades</a>
                                            <a class="dropdown-item" (click)="scrollToPortfolio('servicios')">Administración de propiedades</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <a class="btn fw-500 ms-lg-4 btn-primary" (click)="scrollToPortfolio('contacto')">
                            ¡Contáctanos!
                            <i class="ms-2" data-feather="arrow-right"></i>
                        </a>
                    </div>
                </div>
            </nav>
            <!-- Page Header-->
            <header class="page-header-ui page-header-ui-light bg-img-cover overlay overlay-light overlay-80" style="background-image: url('https://source.unsplash.com/R-LK3sqLiBw/1600x1200')">
                <div class="page-header-ui-content py-5 position-relative">
                    <div class="container px-5">
                        <div class="row gx-5 justify-content-center">
                            <div class="col-xl-8 col-lg-10 text-center">
                                <h1 class="page-header-ui-title">Construyendo sueños. Administrando realidades.</h1>
                                <!-- <p class="page-header-ui-text mb-5">Opening your home to vacationers is a great way to earn some extra income, and this is a great way to get started!</p> -->
                                <a class="btn btn-primary fw-500 me-2" (click)="scrollToPortfolio('contacto')">¡Contáctanos!</a>
                                <!-- <a class="btn btn-link fw-500" href="#!">Administramos tu propiedad </a> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="svg-border-rounded text-white">
                    <!-- Rounded SVG Border-->
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
                </div>
            </header>
            <section id="servicios" class="bg-white py-10">
                <div class="container px-5">
                    <div class="text-center mb-4"><h2>Nuestros Servicios</h2></div>
                    
                    <div class="row gx-5">
                        <div class="col-lg-4 mb-5 mb-lg-0">
                            <a class="card text-decoration-none h-100 lift" href="#!">
                                <div class="card-body py-5">
                                    <div class="d-flex align-items-center">
                                        <div class="icon-stack icon-stack-xl bg-primary text-white flex-shrink-0"><i class="pi pi-dollar" style="font-size: 2rem"></i></div>
                                        <div class="ms-4">
                                            <h5 class="text-primary">Venta de propiedades</h5>
                                            <p class="card-text text-gray-600">Vende tu propiedad</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a class="card text-decoration-none h-100 lift" href="#!">
                                <div class="card-body py-5">
                                    <div class="d-flex align-items-center">
                                        <div class="icon-stack icon-stack-xl bg-primary text-white flex-shrink-0"><i class="pi pi-home" style="font-size: 2rem"></i></div>
                                        <div class="ms-4">
                                            <h5 class="text-primary">Arriendo de propiedades</h5>
                                            <p class="card-text text-gray-600">Arrienda tu propiedad</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a class="card text-decoration-none h-100 lift" href="#!">
                                <div class="card-body py-5">
                                    <div class="d-flex align-items-center">
                                        <div class="icon-stack icon-stack-xl bg-primary text-white flex-shrink-0"><i class="pi pi-chart-bar" style="font-size: 2rem"></i></div>
                                        <div class="ms-4">
                                            <h5 class="text-primary">Administración de propiedades</h5>
                                            <p class="card-text text-gray-600">Administra tu propiedad</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- <section class="bg-white py-10">
                <div class="container px-5">
                    <div class="row gx-5 mb-5">
                        <div class="col-lg-4 mb-5">
                            <a class="card lift h-100" href="#!">
                                <img class="card-img-top" src="https://source.unsplash.com/2d4lAQAlbDA/800x500" alt="..." />
                                <div class="card-body">
                                    <h4 class="card-title mb-2">Outdoor Patio</h4>
                                    <p class="card-text">Our property features a beautiful, private outdoor area with seating and a pool.</p>
                                </div>
                                <div class="card-footer bg-transparent border-top d-flex align-items-center justify-content-between">
                                    <div class="small text-primary">See more</div>
                                    <div class="small text-primary"><i data-feather="arrow-right"></i></div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 mb-5">
                            <a class="card lift h-100" href="#!">
                                <img class="card-img-top" src="https://source.unsplash.com/MP0bgaS_d1c/800x500" alt="..." />
                                <div class="card-body">
                                    <h4 class="card-title mb-2">Full Kitchen</h4>
                                    <p class="card-text">A fully stocked kitchen with all modern amenities provides a peaceful cooking environment.</p>
                                </div>
                                <div class="card-footer bg-transparent border-top d-flex align-items-center justify-content-between">
                                    <div class="small text-primary">See more</div>
                                    <div class="small text-primary"><i data-feather="arrow-right"></i></div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 mb-5">
                            <a class="card lift h-100" href="#!">
                                <img class="card-img-top" src="https://source.unsplash.com/iAftdIcgpFc/800x500" alt="..." />
                                <div class="card-body">
                                    <h4 class="card-title mb-2">Comfortable Bedding</h4>
                                    <p class="card-text">With three newly updated bedrooms you will be sleeping soundly during your stay.</p>
                                </div>
                                <div class="card-footer bg-transparent border-top d-flex align-items-center justify-content-between">
                                    <div class="small text-primary">See more</div>
                                    <div class="small text-primary"><i data-feather="arrow-right"></i></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="text-center mb-4"><h2>Preguntas Frecuentes</h2></div>
                    <div class="accordion" id="accordionFaq">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne"><button class="accordion-button py-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Pregunta 1?</button></h2>
                            <div class="accordion-collapse collapse show" id="collapseOne" aria-labelledby="headingOne" data-bs-parent="#accordionFaq"><div class="accordion-body">Respuesta uno.</div></div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo"><button class="accordion-button py-4 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Pregunta 2</button></h2>
                            <div class="accordion-collapse collapse" id="collapseTwo" aria-labelledby="headingTwo" data-bs-parent="#accordionFaq"><div class="accordion-body">Respuesta dos.</div></div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree"><button class="accordion-button py-4 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Pregunta 3</button></h2>
                            <div class="accordion-collapse collapse" id="collapseThree" aria-labelledby="headingThree" data-bs-parent="#accordionFaq"><div class="accordion-body">Respuesta tres.</div></div>
                        </div>
                    </div>
                </div>
            </section> -->
            <section class="bg-img-cover overlay overlay-light overlay-80 py-15" style="background-image: url('https://source.unsplash.com/BlIhVfXbi9s/1600x800')">
                <div class="container px-5 z-1">
                    <div class="mt-5">
                        <div class="display-4 mb-3 text-dark">Administra con Nosotros</div>
                        <a class="btn btn-primary fw-500" (click)="scrollToPortfolio('contacto')">¡Contáctanos!</a>
                    </div>
                </div>
                <div class="svg-border-angled text-white">
                    <!-- Angled SVG Border-->
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" fill="currentColor"><polygon points="0,100 100,0 100,100"></polygon></svg>
                </div>
            </section>
            
            <section class="bg-white py-10">
                <div class="container px-5">
                    <div class="row gx-5">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3329.9074947769914!2d-70.61661812357715!3d-33.425655996244245!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662cf644301632b%3A0x6144f35c641cc38a!2sAv.%20Nueva%20Providencia%201881%2C%207500520%20Providencia%2C%20Regi%C3%B3n%20Metropolitana!5e0!3m2!1ses-419!2scl!4v1710548470879!5m2!1ses-419!2scl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </section>
            
            <section id="contacto">
                <div class="container px-5 z-1 pb-5 pt-5">
                    <div class="text-center mb-4"><h2>Contáctanos</h2></div>
                    <form [formGroup]="formContacto">
                        <div class="row gx-5 mb-4">
                            <div class="col-md-6">
                                <label class="text-dark mb-2" for="inputName">Nombre Completo</label>
                                <input class="form-control py-4" formControlName="nombreCompleto" type="text" placeholder="Ingrese su nombre completo" required/>
                            </div>
                            <div class="col-md-6">
                                <label class="text-dark mb-2" for="inputEmail">Correo</label>
                                <input class="form-control py-4" formControlName="email" type="email" placeholder="ejemplo@ejemplo.cl" required/>
                            </div>
                        </div>
                        <div class="row gx-5 mb-4">
                            <div class="col-md-6">
                                <label class="text-dark mb-2" for="inputName">Teléfono</label>
                                <input class="form-control py-4" formControlName="telefono" type="text" placeholder="Ingrese su teléfono" />
                            </div>
                            <div class="col-md-6">
                                <label class="text-dark mb-2" for="inputMessage">Mensaje</label>
                                <textarea class="form-control py-3" formControlName="mensaje" type="text" placeholder="Ingresa tu mensaje..." rows="4" required></textarea>
                            </div>
                        </div>
                        <div class="text-center"><button class="btn btn-primary mt-4" type="submit" (click)="enviarMensaje()">Enviar Mensaje</button></div>
                    </form>
                </div>
            </section>
            <hr class="my-0" />
        </main>
    </div>
    <div id="layoutDefault_footer">
        <footer class="footer pt-10 pb-5 mt-auto bg-white footer-light">
            <div class="container px-5">
                <div class="row gx-5">
                    <div class="col-lg-3">
                        <div class="footer-brand">Catalpro</div>
                        <div class="icon-list-social mb-5">
                            <a class="icon-list-social-link" href="#!"><i class="fab fa-instagram"></i></a>
                            <a class="icon-list-social-link" href="#!"><i class="fab fa-facebook"></i></a>
                            <a class="icon-list-social-link" href="#!"><i class="fab fa-github"></i></a>
                            <a class="icon-list-social-link" href="#!"><i class="fab fa-twitter"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="row gx-5">
                            <div class="col-lg-5 col-md-7 mb-5 mb-lg-0">
                                <div class="text-uppercase-expanded text-xs mb-4">Enlaces de Interés</div>
                                <ul class="list-unstyled mb-0">
                                    <li class="mb-2"><a href="#!">Inicio</a></li>
                                    <li class="mb-2"><a href="#!">¿Quiénes somos?</a></li>
                                    <li class="mb-2"><a href="#!">Servicios</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-5 col-md-7">
                                <div class="text-uppercase-expanded text-xs mb-4">Contacto</div>
                                <ul class="list-unstyled mb-0">
                                    <li class="mb-2"><a href="#!">Av. Nueva Providencia 1881, Providencia, Region Metropolitana</a></li>
                                    <li><a href="#!">{{'contacto@catalpro.cl'}}</a></li>
                                    <li class="mb-2"><a href="#!">+56 9 5516 6356</a></li>
                                    <li class="mb-2"><a href="#!">+56 9 4921 6770</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="my-5" />
                <div class="row gx-5 align-items-center">
                    <div class="col-md-6 small">Todos los Derechos Reservados &copy; Catalpro 2024</div>
                    <!-- <div class="col-md-6 text-md-end small">
                        <a href="#!">Privacy Policy</a>
                        &middot;
                        <a href="#!">Terms &amp; Conditions</a>
                    </div> -->
                </div>
            </div>
        </footer>
    </div>
</div>
